h3 {
	margin: 0;
	padding: 0 0 .3em;
}
p {
	margin: 0;
	padding: 0 0 .5em;
}
.pane {
	background: #edf5e1;
	padding: 10px 20px 10px;
	position: relative;
	border-top: solid 2px #c4df9b;
}
.pane.red {
	background: #f00 !important;
}
.pane .delete {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
div#todolist-athome {
	/*display: none;*/
}
div#todolist-atwork {
	display: none;
}
div#todolist-atplay {
	display: none;
}
div#todoForm-container {
	margin-top: 10px;
	padding: 10px 0;
	border-top: solid 2px #667;
	background-color: #fff;
}

div.timerBar {
	background-color: #f00;
	height: 10px;
}
